/.quarto/
**/*.quarto_ipynb


# All rendered presentation artifacts live in presentation-html/ (see _quarto.yml)
/presentation-html/

# Guard against accidental regeneration at the old (pre-refactor) location
/dummy-glightbox-interactive.html
/scores-scatter-interactive.html
/timeline-interactive.html
/plotly.min.js
/img/dummy-glightbox-preview.png
/img/scores-scatter-preview.png
/img/timeline-preview.png

# Quarto-rendered article outputs (source: index.ipynb)
/_manuscript/
/index_files/
/index.docx
/manuscript.tar.gz
